{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
    Edytuj użytkownika
{% endblock %}

{% block header %}
    <h1>Edycja istniejącego kontaktu:</h1>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
    </div>
    <div class="form-group">
        {{ form_label(form.lastname) }}
        {{ form_widget(form.lastname) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
