{% extends "::base.html.twig" %}


{% block title %}
    {{ parent() }}
    Widok kontaktu
{% endblock %}

{% block header %}
    <a href="{{ url('modify', {'id':user.id}) }}">
        <button type="button" class="btn btn-warning">Edytuj / Dodaj grupę</button>
    </a>
    <a href="{{ url('delete', {'id':user.id}) }}">
        <button type="button" class="btn btn-danger">Usuń kontakt</button>
    </a>
{% endblock %}

{% block body %}
    <div class="user_datas">
        <h1>{{ user.firstname }} {{ user.lastname }}</h1>
        <p>{{ user.description }}</p>
        <h3>Grupy:</h3>
        <ul class="list-group">
            {% for group in groups %}
            <li class="list-group-item">
                {{ group.name }}
                <a href="{{ url('deleteUserFromGroup', {'userId':user.id, 'groupId':group.id}) }}">
                    <button type="button" class="btn btn-danger btn-sm">Usuń kontakt z tej grupy</button>
                </a>
                {% else %}
        </ul>
        brak grup
        {% endfor %}
    </div>
    <div class="user_phones">
        <h3>Numery telefonów:</h3>
        <a href="{{ url('addPhone', {'userId':user.id}) }}">
            <button type="button" class="btn btn-warning">Dodaj nowy</button>
        </a>
        <ul class="list-group">
            {% for phone in phones %}
            <li class="list-group-item">
                {{ phone.number }}
                {{ phone.type is not null ? " - " ~ phone.type : "" }}
                <a href="{{ url('editPhone', {'phoneId':phone.id, 'userId' : user.id}) }}">
                    <button type="button" class="btn btn-warning btn-xs">Edytuj</button>
                </a>
                <a href="{{ url('deletePhone', {'phoneId':phone.id, 'userId' : user.id}) }}">
                    <button type="button" class="btn btn-danger btn-xs">Usuń</button>
                </a>
            </li>
            {% else %}
        </ul>
        <p>Brak numerów telefonów!</p>
        {% endfor %}
    </div>
    <div class="user_emails">
        <h3>Adresy e-mail:</h3>
        <a href="{{ url('addEmail', {'userId':user.id}) }}">
            <button type="button" class="btn btn-warning">Dodaj nowy</button>
        </a>
        <ul class="list-group">
            {% for email in emails %}
            <li class="list-group-item">
                {{ email.email }}
                {{ email.type is not null ? " - " ~ email.type : "" }}
                <a href="{{ url('editEmail', {'emailId':email.id, 'userId' : user.id}) }}">
                    <button type="button" class="btn btn-warning btn-xs">Edytuj</button>
                </a>
                <a href="{{ url('deleteEmail', {'emailId':email.id, 'userId' : user.id}) }}">
                    <button type="button" class="btn btn-danger btn-xs">Usuń</button>
                </a>
            </li>
            {% else %}
        </ul>
        <p>Brak adresów e-mail!</p>
        {% endfor %}
    </div>
    <div class="user_addresses">
        <h3>Adresy:</h3>
        <a href="{{ url('addAddress', {'userId':user.id}) }}">
            <button type="button" class="btn btn-warning">Dodaj nowy</button>
        </a>
        <ul class="list-group">
            {% for address in addresses %}
            <li class="list-group-item">
                {{ address.street }} {{ address.houseNumber }}
                {{ (address.flatNumber is not null)? "/ " ~ address.flatNumber : "" }}
                {{ address.city }}
                <a href="{{ url('editAddress', {'addressId':address.id, 'userId' : user.id}) }}">
                    <button type="button" class="btn btn-warning btn-xs">Edytuj</button>
                </a>
                <a href="{{ url('deleteAddress', {'addressId':address.id, 'userId' : user.id}) }}">
                    <button type="button" class="btn btn-danger btn-xs">Usuń</button>
                </a>
            </li>
            {% else %}
        </ul>
        <p>Brak adresów!</p>
        {% endfor %}
    </div>
{% endblock %}