{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
    Edytuj nr telefonu
{% endblock %}

{% block header %}
    <h1>Edycja istniejącego numeru telefonu:</h1>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.number) }}
        {{ form_widget(form.number) }}
    </div>
    <div class="form-group">
        {{ form_label(form.type) }}
        {{ form_widget(form.type) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
