{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
    Dodaj grupę
{% endblock %}

{% block header %}
    <h1>Tworzenie nowej grupy:</h1>
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div class="form-group">
        {{ form_label(form.users) }}
        {{ form_widget(form.users) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
